[user]
	email = i@silverrainz.me
	name = Shengyu Zhang
[push]
	default = simple
[core]
	editor = vim --noplugin
[sendemail]
	smtpserver = smtp.yandex.com
	smtpserverport = 465
	smtpencryption = tls
	smtpuser = i@silverrainz.me
[pull]
	ff = only
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
