[user]
	email = i@srain.im
	name = Shengyu Zhang
[push]
	default = simple
[core]
	editor = vim --noplugin
[sendemail]
	smtpserver = smtp.yandex.com
	smtpserverport = 465
	smtpencryption = tls
	smtpuser = i@srain.im
