[user]
	email = lastavengers@outlook.com
	name = Shengyu Zhang
[push]
	default = simple
[core]
	editor = vim --noplugin
[sendemail]
	smtpserver = smtp-mail.outlook.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = lastavengers@outlook.com
