*.o
*.pyc

# ssh
known_hosts
*.private
*.pub

# vim
*.*~
*~
# .vim/.netrwhist


# xmonad
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.state

.directory

# Sphinx
_build/
