* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: alpha(black, 0.3);
    border-bottom: 3px solid alpha(black, 0.3);
    color: white;
}

#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: white;
}

#workspaces button.focused {
    background: alpha(white, 0.3);
    border-bottom: 3px solid alpha(white, 0.7);
}


/* Mods */

#idle_inhibitor,
#cpu,
#memory,
#network,
#pulseaudio,
#battery {
    padding: 0 3px;
    margin: 0 2px;
}

#clock{
    padding: 0 10px;
    margin: 0 5px;
}

#clock {
    background-color: alpha(white, 0.3);
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    margin: 0 5px;
    padding: 0 5px;
    background-color: #64727D;
}
